%h1
  = t('idioma.phrases')
  .pull-right
    = link_to phrases_path(q: params[:q], format: :csv), class: "btn btn-default" do
      %span.glyphicon.glyphicon-download
      = t('idioma.csv')
    = link_to phrases_path(q: params[:q], format: :yaml), class: "btn btn-default" do
      %span.glyphicon.glyphicon-download
      = t('idioma.yaml')

.highlight
  = form_tag(phrases_path, method: :get, class: "form-inline search") do
    = select_tag :locale_eq, options_for_select(Idioma.configuration.locales, selected: params[:locale_eq]), class: "form-control"
    = text_field_tag :q, params[:q], placeholder: t('idioma.key_value'), class: "form-control"
    = submit_tag t('idioma.search'), class: "btn btn-default"

%table.table
  %thead
    %tr
      %th= t('idioma.locale')
      %th= t('idioma.key')
      %th= t('idioma.value')
    - @phrases.each do |phrase|
      %tr
        %td= phrase.locale
        %td= phrase.i18n_key
        %td
          - if phrase.locale.to_sym != Idioma.configuration.default_locale
            - from_default = t(phrase.i18n_key.to_sym, locale: Idioma.configuration.default_locale, default: "")
            - if from_default.present?
              %small= from_default
              %br/
          .form-group
            %input.i18n_value.form-control.col-sm-12{id: "PhraseI18nValue#{phrase.id}", value: phrase.i18n_value, data: {url: phrase_path(phrase)}}

= will_paginate @posts

:javascript
  $(function() {
    new InlinePhraseUpdater();
  });